.swiper {
    width: 95%;
    padding-left: 40px;
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img-1 .image {
    width: 295px;
    height: 218px;
    object-fit: cover;
}

.img-1 .name {
    font-size: 20px;
    font-weight: 600;
}

.img-1 .calendarContainer {
    display: flex;
    align-items: center;
    gap: 5px;
}

.img-1 .calendarContainer .date {
    font-size: 14px;
    color: #696969;
}

.img-1 .checkContainer {
    display: flex;
    align-items: center;
    gap: 5px;
}

.img-1 .checkContainer .checkNumber {
    font-size: 13px;
    color: #696969;
}

.img-1 .ticketContainer {
    display: flex;
    align-items: center;
    gap: 5px;
}

.img-1 .ticketContainer .price {
    color: #F84757;
    font-weight: 500;
}

.second-swiper-button-prev-custom,
.second-swiper-button-next-custom {
    position: absolute;
    top: 50%;
    width: 30px;
    height: 30px;
    margin-top: -20px;
    z-index: 10;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.second-swiper-button-prev-custom {
    left: 10px;
}

.second-swiper-button-next-custom {
    right: 0;
}


.img-1 .heartBg {
    width: 35px;
    height: 35px;
    background-color: #303030;
    position: absolute;
    top: 10px;
    right: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}